bin
obj
.vs
*.csproj.user
*.log
*.pdb
Document/NewRetaill.Role.pdm
Document/NewRetaill.Data.pdm
Document/NewRetaill.Order.pdm
Document/NewRetaill.Prodeuc.pdm
Document/NewRetaill.Device.pdm
Document/活动管理模块.pdm
Document/系统和数据架构/NewRetaill.Role.pdm

API/*.xml

Program/cvstore.admin/node_modules
Program/cvstore.web/node_modules

Document/NewRetaill.Role/API/Logs
Document/NewRetaill.Data/API/Logs
Document/NewRetaill.Order/API/Logs
Document/NewRetaill.Prodeuc/API/Logs
Document/NewRetaill.Device/API/Logs
Program/NewRetail.Login/API/.config/dotnet-tools.json
Program/NewRetail.Login/API/Properties/PublishProfiles/独立   64    先停掉服务再发布.pubxml
Program/NewRetail.Upload/API/upfiles/head/head-20200629-0fd8a79ad6194b6ca2798f18e1bd91d6.png
Program/NewRetail.Upload/API/upfiles/head/head-20200629-6980e2ce9a5f40a9b89f63c38bc4b6e1.png
Program/NewRetail.Upload/API/upfiles/head/head-20200629-bf6dbd5663834ccd83f9d6caaa627937.png
Program/NewRetail.Upload/API/upfiles/head/head-20200629-c4c0c3dd683a4d10bd57bc9c5e9692bb.png
Program/NewRetail.Device/API/NewRetail.Application.xml
Program/NewRetail.Device/API/NewRetail.Application.xml~3078deef673513fff8b4b41a1d9119873335c40b
Program/NewRetail.Device/API/UploadFiles/QRCode/fea6a9cc00c1472785e0fe07da821248.jpg
Program/NewRetail.Device/API/UploadFiles/QRCode/84901174edc348868d4a15acf4e2d73b.jpg
Program/NewRetail.Device/API/web.config
